.hints-container {
    perspective: 500px;
    height: 100vh;
    overflow: hidden;
  }
  
  .crawl {
    position: relative;
    top: 100vh;
    animation: crawl 160s linear infinite;
  }
  
  @keyframes crawl {
    0% {
      top: 100vh;
    }
    100% {
      top: -250vh; /* Adjust based on the number of paragraphs you have */
        }
  }
  
  .crawl  {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: yellow;
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
    line-height: 1.5;
    fill: yellow
  }

  .icon svg{
    fill: yellow;
    width: 66px;
    height: 66px;
  }

  .icon a:hover svg{
    fill: gold;
  }
  
 






  
  